:root {
    --primary-color: #3a5a40;
    --secondary-color: #f28c38;
    --background-color: #f7f4ed;
    --text-color: #333;
    --header-color: #3a5a40;
    --footer-color: #fff;
}
/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: "Cormorant Garamond", serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

/* Header Styling */
header {
    background-color: var(--background-color);
    color: var(--header-color);
    text-align: center;
    border-bottom: 2px solid var(--secondary-color);
}

/* Nav Bar Styling */
#main-nav {
    background-color: var(--primary-color);
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-height: 3rem;
}

#main-nav .nav-links {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-grow: 1;
}

#main-nav a {
    color: var(--background-color);
    font-size: 1.2rem;
    text-decoration: none;
}

#main-nav a:hover {
    color: var(--secondary-color);
}

.logo-link {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo {
    height: 3rem;
}

/* Main Section Styling */
main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Section Titles */
h2 {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 10px;
    text-transform: uppercase;
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 10px;
}

/* Footer Styling */
footer {
    background-color: var(--primary-color);
    color: var(--footer-color);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-top: 2px solid var(--secondary-color);
}

.footer-text {
    color: var(--background-color);
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 30px;
}

.icons-footer {
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: var(--background-color);
    gap: 30px;
}

footer p {
    font-size: 1rem;
}

/* Button Styling */
button {
    background-color: var(--primary-color);
    color: var(--footer-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: var(--secondary-color);
}

/* List Styling */
ol {
    list-style-type: decimal;
    margin-left: 20px;
}

li {
    margin-bottom: 10px;
    color: var(--text-color);
}

/* Responsive Design */
@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }
}
