:root {
  --primary-color: #3a5a40;
  --secondary-color: #f28c38;
  --background-color: #f5f5dc;
  --text-color: #333;
  --nav-text-color: #3a5a40;
  --white: #fff;
  --hover-color: #f28c38;
}

/* Body Styling */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

/* Nav Bar Styling */
nav {
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  width: 80%;
  margin: 20px auto 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav .logo-link {
  display: flex;
  align-items: center;
}

/* Default state of nav-links */
nav .nav-links {
  display: flex;
  /* Show nav links by default on larger screens */
  align-items: center;
  justify-content: center;
  gap: 60px;
}

/* Nav links styles */
nav a {
  color: var(--nav-text-color);
  text-decoration: none;
  font-size: 1.2rem;
  position: relative;
}

.nav-links a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--hover-color);
  transition: width 0.5s;
  position: absolute;
  bottom: -2px;
  left: 0;
}

.nav-links a:hover::after {
  width: 100%;
}

nav .order-link {
  padding: 10px 20px;
  border-radius: 50px;
  background-color: var(--background-color);
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  transition: background-color 0.3s, color 0.3s;
}

/* For mobile view */
.nav-toggle {
  display: none;
  /* Hidden by default */
  flex-direction: column;
  cursor: pointer;
}

.nav-toggle .bar {
  height: 3px;
  width: 25px;
  background-color: var(--nav-text-color);
  margin: 3px 0;
  transition: all 0.3s ease;
}

/* Responsive styles */
@media (max-width: 1000px) {
  nav .nav-links {
    display: none;
    /* Hide nav links by default on mobile */
    flex-direction: column;
    /* Stack links vertically */
    position: absolute;
    /* Positioning below the nav toggle */
    top: 100%;
    /* Aligns just below the nav bar */
    left: 0;
    /* Align to the left */
    right: 0;
    /* Stretch to the right */
    background-color: var(--background-color);
    border-radius: 0 0 10px 10px;
    /* Rounded bottom corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Optional shadow for dropdown */
    z-index: 10;
    /* Ensure it appears above other content */
  }

  nav .nav-links.active {
    display: flex;
    /* Show nav links when active */
  }

  .nav-toggle {
    display: flex;
    /* Show toggle button on mobile */
  }
}

/* Main Section Styling */
main {
  background-color: var(--background-color);
  padding: 20px 40px;
  width: 80%;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Section Titles */
h1,
h2,
h3 {
  font-size: 2.5rem;
  color: var(--primary-color);
  margin: 10px 0;
  text-transform: uppercase;
  border-bottom: 2px solid var(--secondary-color);
  padding-bottom: 10px;
}

p,
span,
li {
  font-weight: 400;
  line-height: 1.6;
}

/* Footer Styling */
footer {
  background-color: var(--primary-color);
  color: var(--white);
  text-align: center;
  padding: 20px 40px;
  border-radius: 10px;
  width: 80%;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.footer-text {
  color: var(--background-color);
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 30px;
}

.icons-footer {
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: var(--background-color);
  gap: 30px;
}

footer p {
  font-size: 1rem;
}

/* Button Styling */
button {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: var(--hover-color);
}

/* List Styling */
ol {
  list-style-type: decimal;
  margin-left: 20px;
}

li {
  margin-bottom: 10px;
  color: var(--text-color);
}

/* Responsive Design */
@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }
}
