<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Events</title>
  <link rel="stylesheet" href="../static/css/main.css" />
  <link rel="stylesheet" href="../static/css/events.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="logo">
        <a href="index.html"><img class="logo-image" src="../static/images/secondarylogo50kb.svg" alt="Logo" /></a>
      </div>
      <ul class="nav-links">
        <li><a class="reg-link" href="index.html">HOME</a></li>
        <li><a class="reg-link" href="about.html">ABOUT</a></li>
        <li><a class="reg-link" href="events.html">EVENTS</a></li>
        <li><a class="reg-link" href="locations.html">LOCATIONS</a></li>
        <li><a class="reg-link" href="faq.html">FAQ</a></li>
        <li><a class="reg-link" href="contact.html">CONTACT</a></li>
        <li><a class="order-link" href="order.html">ORDER</a></li>
      </ul>
      <button class="nav-toggle" aria-label="toggle navigation">
        &#9776;
      </button>
    </nav>
  </header>

  <script src="../static/js/navbar.js"></script>

  <main>
    <h1>Events</h1>
    <p class="overview">
      Make your special day unforgettable with our bespoke floral
      arrangements. Our team of expert florists is dedicated to creating
      stunning and unique designs tailored to your specific needs. Whether
      it's a wedding, corporate event, or personal celebration, we ensure
      that every detail is perfect and every arrangement is a work of art.
    </p>

    <section class="event-category">
      <h3>Weddings</h3>
      <p>
        We offer a range of services to make your wedding day magical,
        including:
      </p>
      <section id="events">
        <div class="event">
          <h3>Bridal Bouquet</h3>
          <img src="../static/images/bridal.jpg" alt="Wedding arrangement 1" />
        </div>

        <div class="event">
          <h3>Centerpieces</h3>
          <img src="../static/images/centerpiece.jpg" alt="Wedding arrangement 1" />
        </div>

        <div class="event">
          <h3>Ceremony flowers</h3>
          <img src="../static/images/ceremony.webp" alt="Wedding arrangement 1" />
        </div>
      </section>
    </section>

    <section class="event-category">
      <h3>Funerals & Sympathy</h3>
      <p>
        We are here to help express sympathy and offer comfort during
        difficult times. Our selection includes:
      </p>
      <section id="events">
        <div class="event">
          <h3>Standing sprays</h3>
          <img src="../static/images/standspray.jpg" alt="Wedding arrangement 1" />
        </div>

        <div class="event">
          <h3>Casket flowers</h3>
          <img src="../static/images/casket.jpg" alt="Wedding arrangement 1" />
        </div>

        <div class="event">
          <h3>Sympathy arrangements</h3>
          <img src="../static/images/sympathy.webp" alt="Wedding arrangement 1" />
        </div>
      </section>
    </section>

    <section class="event-category">
      <h3>Corporate Events & Parties</h3>
      <p>
        We provide elegant floral designs for corporate events, office
        celebrations, product launches, and seasonal parties. Past clients
        appreciate our attention to detail and our commitment to making each
        event unique and memorable.
      </p>
      <div class="testimonial">
        "The flowers were absolutely stunning and brought our event to life!"
        </br>
        <strong>– Mike T.</strong>
      </div>
    </section>

    <section class="order-btn" style="text-align: center; padding: 20px">
      <h3>Let’s Create Something Beautiful Together</h3>
      <p>Place your order today!</p>
      <button onclick="window.location.href='order.html'" class="order-button">
        Shop Now
      </button>
    </section>
  </main>

  <footer>
    <img class="footer-logo" src="../static/images/tertiarylogo50kb.svg" alt="Logo" />
    <div class="icons-footer">
      <a href="https://instagram.com" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
      <a href="https://snapchat.com" target="_blank" aria-label="Snapchat"><i class="fab fa-snapchat"></i></a>
      <a href="https://twitter.com" target="_blank" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
      <a href="https://facebook.com" target="_blank" aria-label="Facebook"><i class="fab fa-facebook"></i></a>
    </div>
    <p>&copy; 2024 Borcelle Floral Studio. All rights reserved.</p>
  </footer>
</body>

</html>