<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order</title>
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/order.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="index.html"><img class="logo-image" src="../static/images/secondarylogo50kb.svg"
                        alt="Logo"></a>
            </div>
            <ul class="nav-links">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href=".html">Services</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a class="order-link" href="index.html">Order</a></li>
            </ul>
            <button class="nav-toggle" aria-label="toggle navigation">
                &#9776;
            </button>
        </nav>
    </header>

    <script src="../static/js/navbar.js"></script>

    <main>
        <h2>Featured Arrangements</h2>
        <section id="featured-arrangements">
            <div class="arrangement">
                <img src="../static/images/primarylogo50kbg.png" alt="Orchid Elegance" />
                <h3>Orchid<br />Elegance</h3>
                <p>$39.99</p>
                <button class="add-to-cart" item-name="Orchid Elegance" item-price="39.99">
                    Add to Cart
                </button>
            </div>
            <div class="arrangement">
                <img src="../static/images/primarylogo50kbg.png" alt="Rose Bouquet" />
                <h3>Rose<br />Bouquet</h3>
                <p>$29.99</p>
                <button class="add-to-cart" item-name="Rose Bouquet" item-price="29.99">
                    Add to Cart
                </button>
            </div>
            <div class="arrangement">
                <img src="../static/images/primarylogo50kbg.png" alt="Sunflower Delight" />
                <h3>Sunflower<br />Delight</h3>
                <p>$24.99</p>
                <button class="add-to-cart" item-name="Sunflower Delight" item-price="24.99">
                    Add to Cart
                </button>
            </div>
            <div class="arrangement">
                <img src="../static/images/primarylogo50kbg.png" alt="Spring Tulips" />
                <h3>Spring<br />Tulips</h3>
                <p>$19.99</p>
                <button class="add-to-cart" item-name="Spring Tulips" item-price="19.99">
                    Add to Cart
                </button>
            </div>
            <div class="arrangement">
                <img src="../static/images/primarylogo50kbg.png" alt="Wildflower Mix" />
                <h3>Wildflower<br />Mix</h3>
                <p>$34.99</p>
                <button class="add-to-cart" item-name="Wildflower Mix" item-price="34.99">
                    Add to Cart
                </button>
            </div>
            <div class="arrangement">
                <img src="../static/images/primarylogo50kbg.png" alt="Exotic Lilies" />
                <h3>Exotic<br />Lilies</h3>
                <p>$44.99</p>
                <button class="add-to-cart" item-name="Exotic Lilies" item-price="44.99">
                    Add to Cart
                </button>
            </div>
            <div class="arrangement">
                <img src="../static/images/primarylogo50kbg.png" alt="Lavender Dreams" />
                <h3>Lavender<br />Dreams</h3>
                <p>$27.99</p>
                <button class="add-to-cart" item-name="Lavender Dreams" item-price="27.99">
                    Add to Cart
                </button>
            </div>
            <div class="arrangement">
                <img src="../static/images/primarylogo50kbg.png" alt="Peony Passion" />
                <h3>Peony<br />Passion</h3>
                <p>$32.99</p>
                <button class="add-to-cart" item-name="Peony Passion" item-price="32.99">
                    Add to Cart
                </button>
            </div>
            <div class="arrangement">
                <img src="../static/images/primarylogo50kbg.png" alt="Daisy Delight" />
                <h3>Daisy<br />Delight</h3>
                <p>$22.99</p>
                <button class="add-to-cart" item-name="Daisy Delight" item-price="22.99">
                    Add to Cart
                </button>
            </div>
            <div class="arrangement">
                <img src="../static/images/primarylogo50kbg.png" alt="Garden Glory" />
                <h3>Garden<br />Glory</h3>
                <p>$37.99</p>
                <button class="add-to-cart" item-name="Garden Glory" item-price="37.99">
                    Add to Cart
                </button>
            </div>
        </section>

        <section id="cart">
            <h2>Your Cart</h2>
            <ul id="cart-items">
                <li>No items in cart.</li>
            </ul>
            <p>Total: $<span id="cart-total">0.00</span></p>
            <button id="clear-cart">Clear Cart</button>
            <button id="place-order">Place Order</button>
        </section>
        <section id="order">
            <form id="order-form"></form>
        </section>
        <script src="../static/js/cart.js"></script>

        <section id="custom-orders">
            <h2>Custom Orders</h2>
            <p>
                Looking for Something Unique? Call us at [Phone Number] for Custom
                Arrangements.
            </p>
        </section>

        <section id="delivery-options">
            <h2>Delivery Options</h2>
            <p>
                We offer delivery times from 9 AM to 9 PM. We serve the following
                areas: [List of Areas]. Express delivery options are available for an
                additional fee.
            </p>
        </section>
    </main>
    <footer>
        <img class="footer-logo" src="../static/images/tertiarylogo50kb.svg" alt="Logo" />
        <div class="icons-footer">
            <a href="https://instagram.com" target="_blank" aria-label="Instagram">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://snapchat.com" target="_blank" aria-label="Snapchat">
                <i class="fab fa-snapchat"></i>
            </a>
            <a href="https://twitter.com" target="_blank" aria-label="Twitter">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://facebook.com" target="_blank" aria-label="Facebook">
                <i class="fab fa-facebook"></i>
            </a>
        </div>
        <p>&copy; 2024 Borcelle Floral Studio. All rights reserved.</p>
    </footer>

</body>

</html>