<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order</title>
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="index.html"><img class="logo-image" src="../static/images/secondarylogo50kb.svg"
                        alt="Logo"></a>
            </div>
            <ul class="nav-links">
                <li><a class="reg-link" href="index.html">HOME</a></li>
                <li><a class="reg-link" href="about.html">ABOUT</a></li>
                <li><a class="reg-link" href="services.html">SERVICES</a></li>
                <li><a class="reg-link" href="locations.html">LOCATIONS</a></li>
                <li><a class="reg-link" href="faq.html">FAQ</a></li>
                <li><a class="reg-link" href="contact.html">CONTACT</a></li>
                <li><a class="order-link" href="order.html">ORDER</a></li>
            </ul>
            <button class="nav-toggle" aria-label="toggle navigation">
                &#9776;
            </button>
        </nav>
    </header>
    <script src="../static/js/navbar.js"></script>

    <footer>
        <img class="footer-logo" src="../static/images/tertiarylogo50kb.svg" alt="Logo" />
        <div class="icons-footer">
            <a href="https://instagram.com" target="_blank" aria-label="Instagram">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://snapchat.com" target="_blank" aria-label="Snapchat">
                <i class="fab fa-snapchat"></i>
            </a>
            <a href="https://twitter.com" target="_blank" aria-label="Twitter">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://facebook.com" target="_blank" aria-label="Facebook">
                <i class="fab fa-facebook"></i>
            </a>
        </div>
        <p>&copy; 2024 Borcelle Floral Studio. All rights reserved.</p>
    </footer>

</body>

</html>